In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation
from dash import Dash, html, dcc, Input, Output
import plotly.express as px

In [2]:

file_path = r"C:\Users\Andy\OneDrive\Desktop\datasets\weather_prediction_dataset.csv"
data = pd.read_csv(file_path)
data = pd.DataFrame(data)
data.head(10)

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5
5,20000106,1,3,0.85,1.0244,0.56,0.00,5.7,4.2,1.9,...,-0.6,4.0,3.4,0.92,1.0209,0.55,0.20,7.1,3.5,10.7
6,20000107,1,8,0.84,1.0267,0.20,0.00,0.0,4.7,1.8,...,1.7,4.1,2.8,0.96,1.0258,0.27,0.00,6.0,3.3,8.8
7,20000108,1,4,0.79,1.0248,0.54,0.00,4.3,5.6,4.1,...,3.5,6.4,3.6,0.97,1.0210,0.18,0.14,8.2,5.3,11.0
8,20000109,1,8,0.88,1.0243,0.11,0.65,0.0,4.6,3.8,...,3.3,5.1,3.0,0.91,1.0280,0.43,0.02,5.6,3.7,7.6
9,20000110,1,8,0.91,1.0337,0.06,0.09,0.0,2.4,1.4,...,0.0,5.5,1.9,0.94,1.0369,0.58,0.04,1.8,-1.5,5.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3654 entries, 0 to 3653
Columns: 165 entries, DATE to TOURS_temp_max
dtypes: float64(150), int64(15)
memory usage: 4.6 MB

In [4]:
print(data.dtypes)

DATE                        int64
MONTH                       int64
BASEL_cloud_cover           int64
BASEL_humidity            float64
BASEL_pressure            float64
                           ...
TOURS_global_radiation    float64
TOURS_precipitation       float64
TOURS_temp_mean           float64
TOURS_temp_min            float64
TOURS_temp_max            float64
Length: 165, dtype: object

In [5]:
data.dropna()

,DATE,MONTH,BASEL_cloud_cover,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_sunshine,BASEL_temp_mean,BASEL_temp_min,...,STOCKHOLM_temp_min,STOCKHOLM_temp_max,TOURS_wind_speed,TOURS_humidity,TOURS_pressure,TOURS_global_radiation,TOURS_precipitation,TOURS_temp_mean,TOURS_temp_min,TOURS_temp_max
0,20000101,1,8,0.89,1.0286,0.20,0.03,0.0,2.9,1.6,...,-9.3,0.7,1.6,0.97,1.0275,0.25,0.04,8.5,7.2,9.8
1,20000102,1,8,0.87,1.0318,0.25,0.00,0.0,3.6,2.7,...,0.5,2.0,2.0,0.99,1.0293,0.17,0.16,7.9,6.6,9.2
2,20000103,1,5,0.81,1.0314,0.50,0.00,3.7,2.2,0.1,...,-1.0,2.8,3.4,0.91,1.0267,0.27,0.00,8.1,6.6,9.6
3,20000104,1,7,0.79,1.0262,0.63,0.35,6.9,3.9,0.5,...,2.5,4.6,4.9,0.95,1.0222,0.11,0.44,8.6,6.4,10.8
4,20000105,1,5,0.90,1.0246,0.51,0.07,3.7,6.0,3.8,...,-1.8,2.9,3.6,0.95,1.0209,0.39,0.04,8.0,6.4,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3649,20091228,12,7,0.82,1.0084,0.28,0.42,0.3,3.2,1.0,...,-2.7,2.4,3.7,0.95,1.0011,0.22,1.50,6.2,1.8,10.6
3650,20091229,12,7,0.92,1.0028,0.22,1.68,0.2,4.5,2.4,...,-9.5,0.8,5.3,0.89,0.9966,0.24,0.40,10.4,6.2,14.5
3651,20091230,12,8,0.92,0.9979,0.07,1.54,0.0,8.5,7.5,...,-12.5,-7.4,3.8,0.88,0.9939,0.24,1.00,10.0,8.7,11.3
3652,20091231,12,7,0.93,0.9958,0.17,0.57,0.1,6.6,4.3,...,-9.3,-6.5,4.2,0.88,0.9933,0.58,0.02,8.5,6.2,10.9
3653,20100101,1,8,0.93,0.9965,0.08,0.56,0.0,2.9,-0.2,...,-8.8,-7.0,3.4,0.86,1.0040,0.11,0.00,0.5,-0.7,1.8

In [6]:
#Mean tempurature per month
mean_temp = data.groupby('MONTH')[['BASEL_temp_mean',	'BUDAPEST_temp_mean', 'DE_BILT_temp_mean',
                'DRESDEN_temp_mean', 'DUSSELDORF_temp_mean', 'HEATHROW_temp_mean',
                'KASSEL_temp_mean',	'LJUBLJANA_temp_mean',	'MAASTRICHT_temp_mean',	
                'MALMO_temp_mean',	'MONTELIMAR_temp_mean',	'MUENCHEN_temp_mean',
                'OSLO_temp_mean', 'PERPIGNAN_temp_mean', 'ROMA_temp_mean',	
                'SONNBLICK_temp_mean',	'STOCKHOLM_temp_mean',	'TOURS_temp_mean']].mean()

mean_temp

,BASEL_temp_mean,BUDAPEST_temp_mean,DE_BILT_temp_mean,DRESDEN_temp_mean,DUSSELDORF_temp_mean,HEATHROW_temp_mean,KASSEL_temp_mean,LJUBLJANA_temp_mean,MAASTRICHT_temp_mean,MALMO_temp_mean,MONTELIMAR_temp_mean,MUENCHEN_temp_mean,OSLO_temp_mean,PERPIGNAN_temp_mean,ROMA_temp_mean,SONNBLICK_temp_mean,STOCKHOLM_temp_mean,TOURS_temp_mean
MONTH,,,,,,,,,,,,,,,,,,
1,2.036013,0.850161,3.837299,0.341158,3.509968,5.812219,1.001608,0.426688,3.310289,1.319293,5.395177,0.517685,-1.674598,8.480064,7.309003,-11.792605,-0.614469,4.980386
2,3.538516,2.783039,4.392580,1.780919,4.391166,6.030389,2.163604,2.812367,4.160071,1.189399,6.779505,2.091873,-1.940283,9.259011,8.031449,-12.342756,-1.074205,5.872085
3,6.889355,6.906774,6.286774,4.354194,6.662258,7.826129,4.893548,6.972903,6.513548,2.950968,10.031613,5.340323,0.865484,11.815161,10.840968,-10.130000,1.252258,8.299355
4,10.750333,13.132000,10.141333,9.831000,10.701333,10.540333,9.601000,11.560000,10.345333,7.816667,13.133333,10.186333,6.474333,14.219000,13.952000,-6.693667,6.789667,11.047333
5,15.160968,18.029032,13.844194,14.562258,14.751935,13.850323,13.841613,16.775806,14.342903,12.550000,17.534839,14.782258,11.648710,17.991935,18.788710,-1.835806,11.647742,14.746774
6,18.787000,20.972333,16.407000,17.298000,17.505667,17.118333,16.517000,20.276333,17.124000,15.558333,21.672333,18.221667,15.458667,22.571667,22.863667,1.668333,15.755333,18.501000
7,19.779355,22.671613,18.024839,19.087419,18.959677,18.672581,17.992258,21.648387,18.426129,18.214194,23.537419,19.110323,17.672258,24.447419,25.265806,3.115806,18.701935,19.770323
8,19.394516,22.373548,17.810000,18.919677,18.638065,18.715484,17.942581,20.959032,18.215484,17.816129,23.135484,18.953548,16.868387,24.438065,25.348387,3.266129,17.898065,19.866774
9,15.268000,16.975333,14.889333,14.560333,15.408333,16.208667,13.954667,15.740667,15.127000,14.271333,18.851667,14.341667,12.396333,20.645333,21.149000,-0.513667,13.266000,16.670333
10,11.438387,12.416452,11.153548,9.979032,11.519355,12.527097,9.612258,11.878387,11.352581,9.364516,15.064839,10.415484,6.640968,17.294194,17.364516,-2.522581,7.814839,13.230000
11,6.253667,6.939667,7.630667,5.349000,7.611333,8.567000,5.638333,6.836333,7.336667,5.895000,9.616000,5.081333,2.694333,12.112667,12.623000,-7.520667,3.823333,8.282333
12,2.579355,1.567419,3.699032,1.129355,3.696452,5.680968,1.433548,1.800323,3.483226,2.586452,5.724516,1.160000,-1.228065,8.759677,8.712258,-10.687742,0.810323,4.857742

In [7]:
capital = ['BASEL',	'BUDAPEST', 'DE_BILT',
                'DRESDEN', 'DUSSELDORF', 'HEATHROW',
                'KASSEL',	'LJUBLJANA',	'MAASTRICHT',	
                'MALMO',	'MONTELIMAR',	'MUENCHEN',
                'OSLO', 'PERPIGNAN', 'ROMA',	
                'SONNBLICK',	'STOCKHOLM','TOURS']
capital

['BASEL',
 'BUDAPEST',
 'DE_BILT',
 'DRESDEN',
 'DUSSELDORF',
 'HEATHROW',
 'KASSEL',
 'LJUBLJANA',
 'MAASTRICHT',
 'MALMO',
 'MONTELIMAR',
 'MUENCHEN',
 'OSLO',
 'PERPIGNAN',
 'ROMA',
 'SONNBLICK',
 'STOCKHOLM',
 'TOURS']

In [8]:
from dash import Dash, html, dcc, Input, Output
import plotly.express as px


# Correct chronological order for months
month_order = [
    "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
]

# Sample dataset for demonstration
data = {
    "MONTH": ["January", "February", "March", "April", "May", "June", 
              "July", "August", "September", "October", "November", "December"],
    "BASEL_temp_mean": [30, 32, 35, 31, 33, 34, 36, 37, 38, 40, 41, 43],
    "BUDAPEST_temp_mean": [25, 27, 30, 26, 28, 29, 31, 32, 34, 35, 37, 39],
    "DE_BILT_temp_mean": [20, 22, 25, 21, 23, 24, 26, 27, 29, 30, 32, 34],
    "DRESDEN_temp_mean": [28, 29, 32, 27, 31, 30, 33, 34, 35, 36, 37, 38],
    "DUSSELDORF_temp_mean": [34, 36, 38, 33, 35, 37, 39, 40, 41, 43, 44, 45],
    "HEATHROW_temp_mean": [40, 42, 44, 41, 43, 45, 46, 47, 48, 50, 51, 52],
    "KASSEL_temp_mean": [20, 21, 23, 22, 24, 25, 26, 27, 28, 29, 30, 31],
    "LJUBLJANA_temp_mean": [23, 25, 28, 24, 26, 27, 29, 30, 32, 33, 34, 35],
    "MAASTRICHT_temp_mean": [27, 29, 31, 28, 30, 31, 33, 34, 35, 36, 38, 39],
    "MALMO_temp_mean": [25, 26, 28, 27, 29, 30, 31, 32, 34, 35, 37, 38],
    "MONTELIMAR_temp_mean": [32, 34, 36, 33, 35, 36, 37, 38, 40, 41, 43, 44],
    "MUENCHEN_temp_mean": [22, 23, 25, 24, 26, 27, 28, 29, 30, 31, 32, 33],
    "OSLO_temp_mean": [17, 19, 21, 18, 20, 22, 23, 24, 25, 27, 28, 29],
    "PERPIGNAN_temp_mean": [30, 32, 34, 31, 33, 34, 35, 36, 37, 38, 40, 41],
    "ROMA_temp_mean": [32, 34, 36, 33, 35, 37, 38, 39, 40, 42, 43, 44],
    "SONNBLICK_temp_mean": [18, 20, 22, 19, 21, 22, 24, 25, 26, 27, 28, 29],
    "STOCKHOLM_temp_mean": [19, 21, 23, 20, 22, 24, 25, 26, 28, 29, 30, 31],
    "TOURS_temp_mean": [26, 28, 30, 27, 29, 30, 31, 32, 33, 34, 36, 37],
}

# Create DataFrame
df = pd.DataFrame(data)

# Convert MONTH to categorical with correct order
df["MONTH"] = pd.Categorical(df["MONTH"], categories=month_order, ordered=True)

# Group by MONTH and calculate mean for temperature columns
mean_temp = df.groupby('MONTH').mean()

# Remove "_temp_mean" from each column name
mean_temp.columns = mean_temp.columns.str.replace("_temp_mean", "", regex=False)

# Reset index to make MONTH a column again
mean_temp.reset_index(inplace=True)

# Melt the DataFrame for visualization (long format for px)
long_df = mean_temp.melt(id_vars=["MONTH"], var_name="capital", value_name="avg_temp")

# Initialize Dash app
app = Dash(__name__)

# App layout
app.layout = html.Div([
    html.H4('Average Temperatures by Month and Capital'),
    html.P("Select display option:"),
    dcc.RadioItems(
        id='selection',
        options=[
            {"label": "Monthly Scatter Plot", "value": "scatter"},
            {"label": "Monthly Bar Chart", "value": "bar"}
        ],
        value='scatter',
    ),
    dcc.Loading(dcc.Graph(id="graph"), type="cube")
])

# Callback to update the graph
@app.callback(
    Output("graph", "figure"), 
    Input("selection", "value"))
def update_graph(selection):
    if selection == "scatter":
        fig = px.scatter(
            long_df, x="MONTH", y="avg_temp", color="capital",
            title="Average Temperatures by Month and Capital (Scatter Plot)",
            labels={"avg_temp": "Average Temperature (°F)", "MONTH": "Month"},
            template="plotly",
        )
    elif selection == "bar":
        fig = px.bar(
            long_df, x="MONTH", y="avg_temp", color="capital",
            title="Average Temperatures of Capital (Bar Chart)",
            labels={"avg_temp": "Average Temperature (°F)", "MONTH": "Month"},
            template="plotly",
            barmode="group",
        )
    return fig

# Run server
if __name__ == "__main__":
    app.run_server(debug=True)

C:\Users\Andy\AppData\Local\Temp\ipykernel_9404\2393376807.py:42: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_temp = df.groupby('MONTH').mean()

In [11]:
heathrow = "HEATHROW"
heathrow_columns = data.loc[:,data.columns.str.contains(heathrow, case=False)]
heathrow_columns

AttributeError: 'dict' object has no attribute 'loc'

In [12]:
heathrow_columns.columns = heathrow_columns.columns.str.replace('HEATHROW', '', regex=False)

# Compute the correlation matrix
corr_matrix_adj = heathrow_columns.corr()
corr_matrix_adj

NameError: name 'heathrow_columns' is not defined

In [13]:
corr_matrix_adj_rounded = corr_matrix_adj.round(2)
fig = px.imshow(
    corr_matrix_adj_rounded, 
    text_auto=True, 
    color_continuous_scale='RdBu',  # Close alternative to 'coolwarm'
    labels=dict(x="Heathrow Airport in London", y="Heathrow Airport in London"),
    title="Correlation Heatmap of Adjusted Features",
    width = 800, 
    height = 800
)
fig.show()

NameError: name 'corr_matrix_adj' is not defined

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [17]:
X = data.drop('BASEL_sunshine', axis=1)  #Sunshine in the Basel aiport is the target variable
y = data['BASEL_sunshine']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

AttributeError: 'dict' object has no attribute 'drop'

In [18]:
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

NameError: name 'X_train' is not defined

In [10]:
y_pred = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pred, squared=False)
r2 = r2_score(y_test, y_pred)
print(f"RMSE: {rmse}, R²: {r2}")

NameError: name 'model' is not defined